@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@100&display=swap');

.Navbar{
    background-color: #FCE4EC;
    font-family: 'Montserrat', serif;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vmax;
    
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    margin-right: 10px;
    padding: 0.5vmax 0.5rem;
}

.menu a:hover {
    background-color: #F8BBD0;
    border-radius: 4px;
    color: #311B92;
    transition: all 0.5s ease-out;
}

@media (max-width: 700px) {
    .Navbar {
        font-size: 2vmax;
        
    }

    .menu {
        display: flex;
        flex-direction: row;
        width: fit-content;
        width: 50vw;
    }

    .menu a {
        text-decoration: none;
        margin-right: 5px;
        padding: 0.1vmax 0.1rem;
    }
}